*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(54deg, rgba(213,203,202,1) 0%, rgba(232,227,224,1) 20%, rgba(227,222,219,1) 51%, rgba(174,168,168,1) 100%);



}

.display_none{
    display: none;
}
button{
    position: relative;
    top: -240px;
    left: 16px;
}

#add_to_cart_ex_btn{
    position: absolute;
   top: 10px;
    left: 20px;
    font-size: 2rem;
    color: #ff0000a6;
    display: inline-block;
    width: 30px;
    height: 40px;
  
    z-index: 100000;
}
#add_to_cart_ex_btn:hover{
  cursor: pointer;
}

.ui_product{
   
    
    position: absolute;
}
.ui_product .ui_card{
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 450px;
    background-color: white;
    box-shadow: 0.5px 0.5px 20px  rgba(0,0, 0, 0.06),
                -0.5px -0.5px 20px  rgba(0,0, 0, 0.06) ;
               
    border-radius: 20px;
}
.ui_product .ui_card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.ui_product .ui_card:hover::before{
    clip-path: circle(300px at 80% -20%);
}

.ui_product .ui_card:after{
    content: "Cotchy";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 6rem;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255, 255, 0.06);
   
   

}
.ui_product .ui_card .imgBox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    
}

.ui_product .ui_card:hover .imgBox{
    top:20%;
    transition: translateY(0);
}


.ui_product .ui_card .imgBox img{
    width: 250px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(-180deg) rotate(25deg);
  
}
.ui_product .ui_card   .contentBox{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.ui_product .ui_card:hover   .contentBox{
    height: 220px;  

}


.ui_product .ui_card   .contentBox h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.ui_product .ui_card   .contentBox .size,
.ui_product .ui_card   .contentBox .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    
  
    
}
.ui_product .ui_card   .contentBox .color{
    opacity: 0;
}


.ui_product .ui_card:hover   .contentBox .color{
    opacity: 1;
    transition-delay: 0.6s;
}

.ui_product .ui_card   .contentBox .size h4,
.ui_product .ui_card   .contentBox .color h4{
    color:black;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 0;
    margin-right: 10px;

}

.ui_product .ui_card   .contentBox .size span{
   width: 26px;
   height: 26px;
   text-align: center;
   line-height: 26px;
   display: inline-block;
   background-color: white;
   border-radius: 50%;
   margin: 0 5px;
   transition: 0.5s;
   border-radius: 4px;
}

.ui_product .ui_card   .contentBox .size span:hover{
   
 }

 .ui_product .ui_card   .contentBox .color span{
    width: 20px;
    height: 20px;
 
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
 }
 .ui_product .ui_card   .contentBox .color span:nth-child(2){
    background-color: #9dbc28;
 }
 .ui_product .ui_card   .contentBox .color span:nth-child(3){
    background-color: #03a9f4;
 }
 .ui_product .ui_card   .contentBox .color span:nth-child(4){
    background-color: #e91e63;
 }
 .ui_product .ui_card .contentBox a{
     display: inline-block;
     padding: 10px 20px;
     background: #fff;
     border-radius: 4px;
     margin-top: 15px;
     text-decoration: none;
     font-weight: 600;
     color: #111;
     opacity: 0;
     transform: translateY(50px);
     border: 1px  solid black;
     border-right: none;
     transition: 0.5s;
     
 }
 .ui_product .ui_card:hover  .contentBox a{

    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.75s;
    
}

.priceTage{
    background-color: rgb(118, 241, 118);
     display: block;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 133px;
    border-radius: 20px 0 100px 0  ;
    left: 210px;
    color: white;
    font-size: 1.2rem;

    
 

    font-weight: 600;

    opacity: 0;
    transform: translateY(50px);
 
    transition: 0.5s;
  
   
    
}
.ui_product .ui_card:hover  .contentBox .priceTage{

    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.75s;
    
}
select{

   height: 26px;
    margin-right: 5px;
   background-color: white;
   letter-spacing: 2px;
 

   transition: 0.5s;
   border-radius: 4px;
}